################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCproject/FileContentIndex/0d01bab9-82b3-4699-a00f-89ce9cb020b7.vsidx
