################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCproject/FileContentIndex/0d01bab9-82b3-4699-a00f-89ce9cb020b7.vsidx
/.vs/MVCproject/FileContentIndex/bf85a009-8e18-4812-9d0d-93d3d3ac45cd.vsidx
